# Chỉ theo dõi các thành phần cần để chạy website.
*

!.gitignore
!index.html
!index-pages.css
!favicon.ico
!favicon.png
!AGENTS.md

!2627-1/
2627-1/*
!2627-1/index.html
!2627-1/lecture-*.html
2627-1/lecture-template.html
!2627-1/lecture-style.css

!2627-1/img/
2627-1/img/*
!2627-1/img/lec-*/
!2627-1/img/lec-*/*.svg

!2627-1/planning/
!2627-1/planning/**

!2627-1/revealjs/
!2627-1/revealjs/**
!2627-1/plugin/
!2627-1/plugin/**
!2627-1/vendor/
!2627-1/vendor/**
